@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

body {
    margin: 0;
}
header {
    margin: 15px;
}

.header-col {
    margin: 0;
    padding: 0;
}

.box {
    background: rgb(181, 242, 181);
    width: 100%;
    min-height: 420px;

    background-image: url(../image/full-stack-web-development-roadmap-small.jpg);
    background-size: cover;
}

.box-top {
    background-color: rgb(185, 220, 220);
    width: 100%;
    min-height: 100px
}