@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/* ----------------------------- Colors */

.list-box-home {
    background-color: rgb(247, 191, 88);
}
.list-box-resume {
    background-color: rgb(223, 180, 245)
}
.list-box-contact {
    background-color: rgb(175, 241, 233)
}
.list-box-download {
    background-color: rgb(228, 248, 155)
}   


/* ---------Heading - Close the gaps between list items */

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menu-container {
    font-size: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
}


/* ----------------------------- Heading */

header {
    margin: 15px;
}

.header-container-box {
    padding: 0;
}

.image-box {
    background: rgb(242, 181, 181);
    width: 100%;
    min-height: 360px;
    background-size: cover;
    background-repeat: no-repeat;

    background-image: url(../image/full-stack-web-development-roadmap-small.jpg);
}

.name-box {
    background-color: rgb(247, 220, 185);
    width: 100%;
    height: 240px   
}   


.list-box {
    height: 120px;
    text-align:center;
    padding: 0;    
}

.menu-container a {
    width: 100%;
    text-decoration: none;
    color:rgb(98, 3, 3);
    height:120px;
}

.menu-container a i {
    display: block;
    padding-top: 22px;
    font-size: 26px;
}

.menu-container span {
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 5px;
    font-weight: 500;
    letter-spacing: 2px;
}

#nav {
    margin: 0;
}