@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

body {
    margin: 0;
}
header {
    margin: 15px;
}

.header-container-box {
    padding: 0;
}

.image-box {
    background: rgb(181, 242, 181);
    width: 100%;
    padding-top:90%;
    background-size: cover;
    background-repeat: no-repeat;

    background-image: url(../image/full-stack-web-development-roadmap-small.jpg);
}


.name-box {
    background-color: rgb(185, 220, 220);
    width: 100%;
    padding-top: 20%    
}   

.list-inline-item:not(:last-child) {
    margin: 0;
}

.white-space-container {
    font-size: 0;
}

#display-font li {
    font-size: 14px;
    padding: 0;
}